<div class="row">
    <div class="col-12">
      <!-- Kick start -->
      <div id="kick-start" class="card">
        <div class="card-header">
          <h4 class="card-title">INVENTORY</h4>
        </div>
        <div class="card-body">
            <a routerLink="/dealers/new-car" class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
          <div class="card-block">
            <p><span class="text-bold-600 mt-2">Control Panel</span></p>
            <div class="card-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
      <!--/ Kick start -->
    </div>
  </div>
  