<div class="row">
    <div class="col-12">
      <!-- Kick start -->
      <div id="kick-start" class="card">
        <div class="card-header">
          <h4 class="card-title">Upload Car Details</h4>
        </div>
        <div class="card-body">
            
          <div class="card-block">
            <!-- <p><span class="text-bold-600 mt-2">Control Panel</span></p>
            <div class="card-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div> -->


            <form class="icons-tab-steps wizard-circle" [formGroup]="newCarForm" (submit)="registerNewCar()">
                <!-- Step 1 -->
                <fieldset id="tourstep1">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label  for="vin">Vehicle Identification Number</label>
                        <input type="text" [formControl]="vin"  class="form-control round">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="category">YEAR</label>
                          <input type="text"  [formControl]="year"  class="form-control round">
                      </div>
                    </div>

                  </div>

                  <div class="row">
                     
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="make">MAKE</label>
                          <input type="text"  [formControl]="make"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="make">MODEL</label>
                          <input type="text"  [formControl]="model"  class="form-control round">
                        </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="make">TRIM</label>
                            <input type="text"  [formControl]="trim"  class="form-control round">
                          </div>
                        </div>
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="make">SHORT TRIM</label>
                            <input type="text"  [formControl]="short_trim"  class="form-control round">
                          </div>
                        </div>
  
                  </div>

                  <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="made_in">MADE IN</label>
                          <input type="text"  [formControl]="made_in"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vehicle_style">VEHICLE STYLE</label>
                          <input type="text"  [formControl]="vehicle_style"  class="form-control round">
                        </div>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vehicle_type">VEHICLE TYPE</label>
                          <input type="text"  [formControl]="vehicle_type"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vehicle_size">VEHICLE Size</label>
                          <input type="text"  [formControl]="vehicle_size"  class="form-control round">
                        </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group text-right">
                        <button type="button" class="primary-btn banner-btn" onclick="$('#tourstep1').hide(); $('#tourstep3').show()">
                          <i></i> Next
                        </button>
                       </div>
                    </div>
                  </div>

                </fieldset>

                 <!-- Step 2 -->
                 <!-- <fieldset id="tourstep2" style="display: none" >
                  <div class="row">
                      <div class="col-md-12">
                      <img src="assets/img/steps/step2.png" class="img-fluid mx-auto d-block">
                      </div><br/><br/>
                  </div>
                  <div formArray="itinerary">
                      <div [formGroup]="item" *ngFor="let item of itinerary.controls; let i = index;" [hidden]="i!== m ">
                        
                    <div class="row">
                        <div class="col-md-12"><br/><br/>
                          <div class="form-group">
                              <label for="activityDate">Day</label>
                              <input type="text" [formControl]="item.get('activityDate')" id="activityDate"  class="form-control">
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                              <label for="activity">Activity</label>
                              <input type="text" [formControl]="item.get('activity')" id="activity"  class="form-control" >
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="itinerary">Activity Description</label>
                            <input type="text" [formControl]="item.get('activityDescription')" id="activityDescription"  class="form-control" >
                          </div>
                        </div>
                    </div> 
                      </div>
                  </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group text-left">
                      <p *ngIf="m>0">{{ m+' Items Added'}}</p>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" [disabled]="m<1" class="btn btn-raised btn-danger mr-1" (click)="removeItem(m)"><i></i> delete</button>
                      <button type="button" class="btn btn-raised btn-warning mr-1" (click)="addMoreItineraryFields()"><i></i> Add More</button>
                      <button type="button" class="btn btn-raised btn-info mr-1" onclick="$('#tourstep2').hide(); $('#tourstep1').show()">
                        <i></i> Previous
                      </button>
                      <button type="button" [disabled]="itinerary.invalid"  class="btn btn-raised btn-success mr-1" onclick="$('#tourstep2').hide(); $('#tourstep3').show()">
                        <i></i> Next
                      </button>
                      
                    </div>
                  </div>
              </div>
                 </fieldset> -->

                  <!-- Step 3 -->
                <fieldset id="tourstep3" style="display: none" >
                  
                  
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label  for="vehicle_category">VEHICLE CATEGORY</label>
                            <input type="text" [formControl]="vehicle_category"  class="form-control round">
                          </div>
                        </div>
    
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="doors">DOORS</label>
                              <input type="text"  [formControl]="doors"  class="form-control round">
                          </div>
                        </div>
    
                      </div>
                    
                    <div class="row">
                        
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="fuel_type">FUEL TYPE</label>
                            <input type="text"  [formControl]="fuel_type"  class="form-control round">
                          </div>
                        </div>
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="fuel_capacity">FUEL CAPACITY</label>
                            <input type="text"  [formControl]="fuel_capacity"  class="form-control round">
                          </div>
                        </div>
  
                    </div>
  
                    <div class="row">
  
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="city_mileage">CITY MILEAGE</label>
                              <input type="text"  [formControl]="city_mileage"  class="form-control round">
                            </div>
                          </div>
    
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="highway_mileage">HIGHWAY MILEAGE</label>
                              <input type="text"  [formControl]="highway_mileage"  class="form-control round">
                            </div>
                          </div>
    
                    </div>
  
                    <div class="row">
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="engine">ENGINE</label>
                            <input type="text"  [formControl]="engine"  class="form-control round">
                          </div>
                        </div>
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="engine_size">ENGINE SIZE</label>
                            <input type="text"  [formControl]="engine_size"  class="form-control round">
                          </div>
                        </div>
  
                    </div>
  
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="engine_cylinders">ENGINE CYLINDERS</label>
                            <input type="text"  [formControl]="engine_cylinders"  class="form-control round">
                          </div>
                        </div>
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="transmission_type">TRANSMISSION TYPE</label>
                            <input type="text"  [formControl]="transmission_type"  class="form-control round">
                          </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group text-left">
                            <button type="button" class="primary-btn text-danger float-left" onclick="$('#tourstep3').hide(); $('#tourstep1').show()">
                              <i></i> Previous
                            </button>
                           </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group text-right">
                              <button type="button" class="primary-btn banner-btn float-right" onclick="$('#tourstep3').hide(); $('#tourstep4').show()">
                                <i></i> Next
                              </button>
                            </div>
                        </div>
    
                      </div>

                </fieldset>

                <!-- Step 4 -->
                <fieldset id="tourstep4"  style="display: none">
                  

                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label  for="geers">GEERS</label>
                          <input type="text" [formControl]="geers"  class="form-control round">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="driven_wheels">DRIVEN WHEELS</label>
                            <input type="text"  [formControl]="driven_wheels"  class="form-control round">
                        </div>
                      </div>
  
                  </div>
                  
                  <div class="row">
                      
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="anti_brake_system">ANTI-BRAKE SYSTEM</label>
                          <input type="text"  [formControl]="anti_brake_system"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="steering_type">STEERING TYPE</label>
                          <input type="text"  [formControl]="steering_type"  class="form-control round">
                        </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="curb_weight">CURB WEIGHT</label>
                            <input type="text"  [formControl]="curb_weight"  class="form-control round">
                          </div>
                        </div>
  
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="gross_weight">GROSS WEIGHT</label>
                            <input type="text"  [formControl]="gross_weight"  class="form-control round">
                          </div>
                        </div>
  
                  </div>

                  <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="overal_height">OVERAL HEIGHT</label>
                          <input type="text"  [formControl]="overal_height"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="overal_length">OVERAL LENGTH</label>
                          <input type="text"  [formControl]="overal_length"  class="form-control round">
                        </div>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="overal_width">OVERAL WIDTH</label>
                          <input type="text"  [formControl]="overal_width"  class="form-control round">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="standard_seating">STANDARD SEATING</label>
                          <input type="text"  [formControl]="standard_seating"  class="form-control round">
                        </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group text-left">
                        <button type="button" class="primary-btn text-danger float-left" onclick="$('#tourstep4').hide(); $('#tourstep3').show()">
                          <i></i> Previous
                        </button>
                       </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group text-right">
                          <button type="button" class="primary-btn banner-btn float-right" onclick="$('#tourstep4').hide(); $('#tourstep5').show()">
                            <i></i> Next
                          </button>
                        </div>
                    </div>

                  </div>

                </fieldset>

                      <!-- Step 5 -->
                      <fieldset id="tourstep5"  style="display: none">
                  

                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label  for="optional_seating">OPTIONAL SEATING</label>
                                  <input type="text" [formControl]="optional_seating"  class="form-control round">
                                </div>
                              </div>
          
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="invoice_price">INVOICE PRICE</label>
                                    <input type="text"  [formControl]="invoice_price"  class="form-control round">
                                </div>
                              </div>
          
                          </div>
                          
                          <div class="row">
                              
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label for="delivery_charges">DELIVERY CHARGES</label>
                                  <input type="text"  [formControl]="delivery_charges"  class="form-control round">
                                </div>
                              </div>
        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="msrp">MSRP</label>
                                  <input type="text"  [formControl]="msrp"  class="form-control round">
                                </div>
                              </div>
        
                          </div>
        
                          <div class="row">
        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="overal_height">UPLOAD IMAGES</label>
                                  <!-- <input type="text"  [formControl]="overal_height"  class="form-control round"> -->
                            
                                </div>
                              </div>
        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="overal_length">UPLOAD VEHICLE SERVICE REPORT</label>
                                  <!-- <input type="text"  [formControl]="overal_length"  class="form-control round"> -->
                                </div>
                              </div>
        
                          </div>

                          <div class="row">

                            <div class="col-md-6">

                              <div class="form-group">
                               <button type="button" class="primary-btn text-danger float-left" onclick="$('#tourstep5').hide(); $('#tourstep4').show()">                                   <i></i> Previous
                                </button>
                              </div>

                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                  <button  [disabled]="newCarForm.invalid" type="submit" class="primary-btn banner-btn float-right">
                                    <i></i> Submit
                                  </button>
                                </div>
                            </div>

                          </div>
                        </fieldset>
                    
               
            </form>
           
          </div>
        </div>
      </div>
      <!--/ Kick start -->
    </div>
  </div>
  