<nav class="navbar navbar-expand-md fixed-top p-3 active navbar-dark">
		<a class="navbar-brand pl-5" href="/">
			<img src="./../../../assets/img/landing-page/logo.png" alt="logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto pr-5">
				<li class="nav-item">
					<a class="nav-link" href="guests#about">Why Cheap?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="guests#who-we-buy-from">Who We Buy From</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="guests#who-we-sell-to">Who We Supply To</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="guests#project">Are They Different?</a>
				</li>
	
				<li class="nav-item">
					<a class="nav-link" href="guests#how-it-works">Our Value</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="guests#ceo">The CEO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="guests/cars">Get Started</a>
				</li>
			</ul>
		</div>
	</nav>